
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SudoKu</title>
	<script type="text/javascript" src="/static/js/sudoku.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body id="contenedor">
	<header>
	<div class="row" >
		<div class="col-xs-12 col-md-6">
			<hgroup>
				<h1>SUDOKU</h1>
				<h2>Registrate para guardar tu puntuación!</h2>
			</hgroup>
			 
		</div>


		<div class="col-xs-12 col-md-6">	
			<br>
			<form action="" method="POST" role="form" class="form-inline" >
				<label for="">Email:</label>
				<input id="email" name="email" type="email" class="form-control"  required>
				<label for="">Password:</label>
				<input id="password" name="password" type="password" class="form-control"  required>
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in" ></span> Sign in</button>
			</form>
		</div>
	</div>
	</header>

<section>
	<article id="contenido">
	<p>El Sudoku es un rompecabezas de lógica y uno de los pasatiempos que más contagia.</p>
	<p>El objetivo es rellenar una cuadrícula de 9×9 celdas dividida en subcuadrículas de 3×3 con las cifras del 1 al 9 partiendo de algunos números ya dispuestos en algunas de las celdas.</p>
	<p>No se debe repetir ningún número en una misma fila, columna o subcuadrícula.</p>
	<p>Al principio, para animarse, en vez de comenzar el proceso por la primera casilla (arriba a la izquierda) hasta la última (abajo a la derecha), podemos hacerlo por la caja o fila que tenga más números fijos. De esta forma, pronto tendremos una fila, columna o caja completa y nos proporcionará aliento para seguir jugando. Una vez resuelto el puzzle, presione el botón de validar, y su puntuacion quedará registrado junto a su nombre.</p>
	<p id="p">VAMOS! Entra, registrate y diviertete mientras aprendes y desarrollas tu mente.</p>
	</article>

		<figure id="sudoku">
			<h2>SUDOKU</h2>
				<ul>
					<li>
						<strong>Nivel de dificultad:</strong>
						<input onClick="reset();game.runEasy()" class="btn btn-success" value="Facil" size="8px"/>
						<input onClick="reset();game.runMedium()" class="btn btn-success" value="Intermedio" size="8px"/>
						<input onClick="reset();game.runHard()" class="btn btn-success" value="Dificil" size="8px"/>
					</li>
				</ul>



<div id="div-board" class="div-board">
<center>
	<form method="post" action="" name="frmGrid" id="frmGrid">
	<table id="table0" class="table-main" cellspacing="0" cellpadding="0">
		<tr>
		<td>
			<table id="table1" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c0" class="cell" type="text" size="	" maxlength="1"></td>
				<td><input id="c1" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c2" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c9" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c10" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c11" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c18" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c19" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c20" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>
		<td>
			<table id="table2" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c3" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c4" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c5" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c12" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c13" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c14" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c21" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c22" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c23" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>

		<td>
			<table id="table3" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c6" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c7" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c8" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c15" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c16" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c17" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c24" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c25" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c26" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>
		</tr>

		<tr>
		<td>
			<table id="table4" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c27" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c28" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c29" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c36" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c37" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c38" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c45" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c46" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c47" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>

		<td>
			<table id="table5" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c30" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c31" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c32" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c39" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c40" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c41" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c48" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c49" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c50" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>

		<td>
			<table id="table6" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c33" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c34" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c35" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c42" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c43" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c44" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c51" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c52" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c53" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>	
		</tr>

		<tr>
		<td>
			<table id="table7" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c54" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c55" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c56" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c63" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c64" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c65" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c72" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c73" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c74" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>

		<td>
			<table id="table8" class="table-region" cellspacing="0" cellpadding="0">
				<tr>	
				<td><input id="c57" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c58" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c59" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c66" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c67" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c68" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c75" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c76" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c77" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>
			
		<td>
			<table id="table9" class="table-region" cellspacing="0" cellpadding="0">
				<tr>
				<td><input id="c60" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c61" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c62" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c69" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c70" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c71" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
				<tr>
				<td><input id="c78" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c79" class="cell" type="text" size="1" maxlength="1"></td>
				<td><input id="c80" class="cell" type="text" size="1" maxlength="1"></td>
				</tr>
			</table>
		</td>
		</tr>

	</table>

	<input id="bn-validate" type="button" class="bn-validate" onClick="game.validate()" value="Validar!" name="bn-validate"/>
	<input id="bn-reset" type="reset" class="bn-validate" value="Limpiar" name="bn-reset"/>
</form>

</center>
</div>
			
		</figure>
</section>

<nav>
	<ul>
		<li onClick="window.location.reload(true)"><a href="#">Nuevo Juego</a></li>
		<li onClick="game.solve()" ><a href="#">Resolver Juego</a></li>
	</ul>
</nav>

</body>
</html>

